name: Build dev and Push dev Docker Image

on:
  push:
    branches-ignore:
    - 'main'

jobs:
  build:
    runs-on: ubuntu-latest  

    steps:
    - name: Extract branch variable
      run: echo "BRANCH=${GITHUB_REF##*/}" >> $GITHUB_ENV

    - name: Checkout repository
      uses: actions/checkout@v3  

    - name: Log in to GitHub Container Registry
      uses: docker/login-action@v2  
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3  
    
    - name: Build and push Docker image
      uses: docker/build-push-action@v5  
      with:
        context: .  
        file: ./Dockerfile  
        push: true  
        tags: ghcr.io/wirenboard/postgres-backup-s3:${{ env.BRANCH }}
